.card {
  margin: 1rem;
  padding: 1.5rem;
  background-color: #4a8bed;
  border-radius: 10px;
}

p.title {
  font-weight: 600;
}

p.text {
  padding: 15px 0 0 0;
  min-height: 60px;
}

.date {
  text-align: right;
  margin: 0;
}

.container {
  display: flex;
}

.item {
  margin: 5px;
}